* {
  padding: 0;
  margin: 0;
}

@import "https://fonts.googleapis.com/css?family=Balsamiq+Sans";

html {
  font-family: Roboto, Rubik, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(top, #0f2f53, rgb(182, 242, 255));
  height: 100%;
}

.winner-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-family: "Balsamiq Sans", sans-serif;
}

.nav-bar {
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  background: -webkit-linear-gradient(top, #0f2f53, #264e7d);
}

.credentials {
  grid-column: 1/13;
  grid-row: 12/13;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  background: -webkit-linear-gradient(top, #0f2f53, #264e7d);
}

.header-winner {
  grid-column: 4/9;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  background: -webkit-linear-gradient(top, #0f2f53, #264e7d);
}

.winners-table-container {
  grid-column: 3/10;
  grid-row: 4/11;
  /* border: 3px solid rgb(14, 14, 60); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: beige;
  position: relative;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  background-color: #104d5e;
  border: 1px solid gray;
  position: absolute;
  top: 5px;
  /* position: relative; */
}

td,
th {
  border: 2px solid #187498;
  padding: 8px;
  text-align: center;
}

.table-caption {
  margin: 10px 10px;
  font-size: 20px;
  font-weight: bold;
}

[type="button"] {
  border: 1px solid #345479;
  background: #345479;
  border-radius: 10%;
  color: white;
  width: 110px;
  cursor: pointer;
  position: absolute;
  margin-top: 30px;
  left: 45%;
  padding: 10px;
  font-weight: bold;
}

[type="button"]:hover {
  border: 1px solid #337ab7;
  background: white;
  border-radius: 15%;
  color: #337ab7;
}
